div.top
{
	position:relative;
	left: 100px;
	top:20px;
 	width: 240px;
	height:40px;
	background-color:white;


}
​
div.l-bottom
{
	position:relative;
	left: 100px;
	top:10px;
 	width: 240px;
	height:40px;
	background-color:white;


}
div.l-left
{

	position:absolute;
	left: 109px;
	top: 1020px;
 	width: 850px;
    padding: -10px;
    margin: 1px;
	background-color:#b8a9c9;
}
div.footr
{
	position:relative;
	left: 63px;
	top:330px;
 	width: 1350px;
	height:40px;


}