<link rel="stylesheet" href="testcss.css" type="text/css"><br>
​
<div style="text-align:center"><h1><font color= "#800080">Conber - Consumer Behavior Application</h1></div>
​
</head>
<body>
<div class="l-bottom">
	<table STYLE="background-color: #ffffff;"   >
​
​
 <tr>
​
 <td STYLE="background-color: #ffffff;" width="20%"  > 
		<a href="#"><button class="btn btn-success" STYLE="background-color: #c2c2a3;" onclick=" window.open('/home','_blank')">&nbsp; Home &nbsp;</button></a>	
</td>
<td STYLE="background-color: #ffffff;" width="20%"  >
		<a href="#"><button class="btn btn-success" STYLE="background-color: #c2c2a3;" onclick=" window.open('/about')">&nbsp;About &nbsp; &nbsp;</button></a>
</td>
<td STYLE="background-color: #ffffff;" width="20%">
		<a href="#"><button class="btn btn-success" STYLE="background-color: #c2c2a3;"  onclick=" window.open('/logout','_blank')">Logout</button></div>
	
</td>
​
</tr>
</table>
</div>
​
<div class="l-left">
<h1 align="center"><font color= "#800080">About Us </font></h1><br>
​
	
	<p><h3 align="center">Conber provides consumer behavior reports in telecom industry but can be used in other industries too.</h3></p>
	<p><h3 align="center">This is the beta version created by Usman Hidayat as part of his internship assignment at <a href="https://chirondatao2.com/"><font color= "#800080">Chiron DataO2 LLC.,</font></a><p></p> which is a data services start up with offices in Chicago, USA; Melbourne, Australia; and Islamabad, Pakistan.</h3>
</p>
</div>
<div class="footr">
<img align="right" height="100" width="100" src="logo.png" alt="logo"/>
</div>
​
<br>