<link rel="stylesheet" href="static/style.css" type="text/css"><br><br><br>
<div style="text-align:center"><h1><font color= "#800080">Conber - Consumer Behavior Application></font></h1></div>
<div class="l-bottom">
	<table width="100%" cellspacing="0%" bgcolor="white" width="100%">
 	<tr STYLE="background-color: #800080;">
	 <td> <a href="#"><button class="btn btn-success" STYLE="background-color: #800080;" onclick=" window.open('/home','_blank')"><font color= "#ffffff">Home</font></button></a>
	 </td><td>

	 <a href="#"><button class="btn btn-success" STYLE="background-color: #800080;" onclick=" window.open('/about')"><font color= "#ffffff">About</font></button></a></td>
</td>
	</tr>

	<tr>
		<td rowspan="5">

		<form action="/reports" method = "POST" enctype = "multipart/form-data">
		    <font color= "#800080">Upload Data File</font><br>
		    <input STYLE="background-color: #800080;"  type="file"  name="call_record_data" accept=".csv">
		    <input STYLE="background-color: #800080;" type="submit" value="Send">
        </form>

	</td>
	</tr>

	</table>
</div>
<img align="right" height="100" width="100" src="{{url_for('static', filename='logo.png')}}" alt="logo"/>