<link rel="stylesheet" href="static/style.css" type="text/css"><br><br><br>
<title>CONBER</title>
<div style="text-align:center"><h1><font color= "#800080">Conber - Consumer Behavior Application</font></h1></div>
<form action="/password" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
</div>
<div class="login-form">
<div class="control-group">

				Reset Password <br><br>

                &nbsp&nbsp&nbsp
                <input type="text" class="login-field" STYLE="background-color: #800080;" value="" placeholder="user name" name="username">
                <label class="login-field-icon fui-user" for="login-name"></label></div><br>
    <div class="control-group">


				New Password:&nbsp
				&nbsp
				&nbsp
				<input type="text" class="login-field" STYLE="background-color: #800080;" value="" placeholder="new password" name="password">
                <label class="login-field-icon fui-user" for="login-name"></label></div><br>
    <div class="control-group">
				Confirm Password:
				<input type="password" class="login-field" STYLE="background-color: #800080;" value="" placeholder="confirm password" name="cpassword">
                <label class="login-field-icon fui-lock" for="login-pass"></label></div><br>
    <input type="submit" value="Confirm" style="background-color: #800080;" ></class="btn btn-primary btn-large btn-block" onclick=" window.open('/login','_blank')>

</font>
</div>
</div>
</div>

</form>


{% if loginErrorStatus == 'true' %}
    {% block content %}
    <div style="text-align:center"><font size="5" color="red" >Error! Login and/or Password Information Incorrect!</font></div>
    {% endblock content %}
{% endif %}
