<link rel="stylesheet" href="static/style.css" type="text/css"><br><br><br>
<div style="text-align:center"><h1><font color= "#800080">Conber - Consumer Behavior Application</font></h1></div>

<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
    <tr>
		<td><a href="#"><button class="btn btn-success" STYLE="background-color: #800080;" onclick=" window.open('/revenue_by_call_timing','_blank')"><font color= "#ffffff">Revenue by Call Timing</font></button></a>
	</td>
	</tr>
        		<td><a href="#"><button class="btn btn-success" STYLE="background-color: #800080;" onclick=" window.open('/callRecords_basic_stats','_blank')"><font color= "#ffffff">Call Records Basic Statistics</button></a>
	</td>
	<tr>
		<td><a href="#"><button class="btn btn-success" STYLE="background-color: #800080;" onclick=" window.open('/revenue_by_region','_blank')"><font color= "#ffffff">Revenue by Region</font></button></a>
	</td>
	</tr>

	<tr>
		<td><a href="#"><button class="btn btn-success" STYLE="background-color: #800080;" onclick=" window.open('/revenue_by_customer','_blank')"><font color= "#ffffff">Revenue by Customer</font></button></a>
	</td>
	</tr>

	<tr>
		<td><a href="#"><button class="btn btn-success" STYLE="background-color: #800080;" onclick=" window.open('/notable_customers','_blank')"><font color= "#ffffff">Notable Customers</font></button></a>
	</td>
	</tr>
</body>
</html>