<link rel="stylesheet" href="static/style.css" type="text/css"><br><br><br>
<title>CONBER</title>
<div style="text-align:center"><h1><font color= "#800080">Conber - Consumer Behavior Application</font></h1></div>

<form action="/signupf" method="POST">
<div class="login">
    <div class="login-screen">
        <div class="app-title"></div>
            <div class="login-form">
                <div class="control-group">
				    User Name:&nbsp
				    <input type="text" class="login-field" style="background-color: #800080;" value="" placeholder="username" name="username">
                    <label class="login-field-icon fui-user" for="login-name"></label></div><br>
                <div class="control-group">
				    Password:&nbsp
				    &nbsp
				    <input type="password" class="login-field" style="background-color: #800080;" value="" placeholder="password" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label></div><br>
				    Type:&nbsp
				    &nbsp
				    &nbsp
				    &nbsp
				    &nbsp
				    <input type="text" class="login-field" style="background-color: #800080;" value="standard" placeholder="type" name="type">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div><br>

        <input type="submit" align="center" value="Sign up" style="background-color: #800080;" color="navy" ></class="btn btn-primary btn-large btn-block" onclick=" window.open('/login','_blank')></font>
    </div>
</div>
</form>


{% if loginErrorStatus == 'true' %}
    {% block content %}
    <div style="text-align:center"><font size="5" color="red" >Error! Login and/or Password Information Incorrect!</font></div>
    {% endblock content %}
{% endif %}